WCFClient/Service References/CompaniesServiceReference/companies1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Companies.Domains" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Companies.Domains" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCompany">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Company" nillable="true" type="tns:Company" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompany" nillable="true" type="tns:ArrayOfCompany" />
  <xs:complexType name="Company">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Company" nillable="true" type="tns:Company" />
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="Employee">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
          <xs:element minOccurs="0" name="EmploymentDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
</xs:schema>